{% extends "admin.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Add New User</h1>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                     
                        <form action="{{ url_for('add_user') }}" method="POST">
                            <div class="form-group mb-3" id="info_form_group">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" name="username" id="username" class="form-control" required>
                            </div>

                            <div class="form-group mb-3" id="info_form_group">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" name="email" id="email" class="form-control" required>
                            </div>

                            <div class="form-group mb-3" id="info_form_group">
                                <label for="first_name" class="form-label">First Name:</label>
                                <input type="text" name="first_name" id="email" class="form-control" pattern="^[A-Za-z]+$" title="First name should contain only letters" required>
                            </div>

                            <div class="form-group mb-4" id="info_form_group">
                                <label for="last_name" class="form-label">Last Name:</label>
                                <input type="text" name="last_name" id="email" class="form-control" pattern="^[A-Za-z]+$" title="Last name should contain only letters" required>
                            </div>


                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Add User</button>
                    
                                <a href="{{ url_for('users_page') }}" class="btn btn-secondary">Back to Users</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock %}