{% extends "layout.html" %}

{% block content %}
<div class="row" id="info_row">
    <h3>Welcome back!</h3>
    <div class="col-md-12" id="login_class">
        <form action="/password_reset" method="post" id="login_form">
            <div class="form-group" id="info_form_group">
                <label for="username">Enter New Password</label>
                <input type="text" class="form-control" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary" id="login_button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}